---
import Section from "./Section.astro";
---

<!-- No es bueno colocar que me apaciona la tecnologia y que desarrollo con lo ultimo en la tecnologia -->
<!-- Busar algo quenos defina, que sea sobre nosotros -->
<!-- Es mejor mostrar que decir muchas veces. -->
<!-- [&>p]:mb-4 = ESTO SIGNIFICA QUE TODOS LOS PADDING VAN A TENER UN MARGIN-BOTTOM DE 16PX -->
<Section class="flex gap-x-4 justify-center items-center">
  <article
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo Erick Leonardo Ramirez Hernandez, más conocido como Leo, <strong
        >apasionado por la programación desde los 18</strong
      >, desde entonces he aprendido didácticamente, en plataformas y escuelas
      para <strong>evolucionar día a día en el mundo de la tecnología.</strong>
    </p>
    <p>
      Soy <strong>Ing De Sistemas</strong> graduado de la CUN, <strong
        >me especializo en el desarrollo Front-end o Web, con tecnologías
        JavaScript, Angular, Tailwind CSS</strong
      > y demás, todos los días estoy perfeccionándome y aprendiendo de todo lo que
      pueda.
    </p>
    <p>
      Además, soy Broker inmobiliario, cuento con una oficina para la venta y el
      alquiler turístico en toda la zona del Gualivá en Cundinamarca
    </p>
  </article>
  <img src="/me.jpg" alt="Foto de Erick Ramirez|Sobre Mi" />
</Section>
