<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 text-red-500/90">
        © 2024 <a target="_blank" href="https://www.linkedin.com/in/ingerick/" class="hover:underline"
            >Erick Ramirez
        </a>| Desarrollador Web | Front-end | <a target="_blank" href="https://fincaraizrh.netlify.app"
        >CEO Propiedades Finca Raiz R&H</a>
    </span>
    </div>
</footer>
